$primary: #696EFF;
$secondary: #F8ACFF;
$tertiary: #ADAFFF;
$light: #F3F3F3;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: $tertiary;
    color: $light;
    font-size: 20px;
    font-weight: bold;
}

.main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    text-align: center;
    padding: 10px 10px;
    max-width: 400px;
}

.title{
    color: $primary;
    font-size: 2.5em;
    text-shadow: $secondary 2px 3px;
    margin: 40px 0;
}

.overlay-text{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: $secondary;
    text-shadow: $primary 1px 2px;
    cursor: pointer;
    &.visible {
        display: flex;
        flex-direction: column;
        animation: overlay-grow 500ms forwards;
    }
}

@keyframes overlay-grow {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    } to {
        background-color: rgba(0, 0, 0, 0.8);
        font-size: 48px;
    }
}

.overlay-text-small{
    margin-top: 15px;
    text-shadow: none;
    font-weight: normal;
    font-size: 16px;
}

.game-info__container {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
}

.game{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 80px;
    height: 80px;
    margin: 5px;
    &__inner {
        width: 100%;
        height: 100%;
        font-size: 34px;
        transition: transform 1s;
        transform-style: preserve-3d;
        cursor: pointer;
        position: relative;
        &.is-flipped{
            transform: rotateY(180deg);
        }
        &.disable{
            pointer-events: none;
        }
    }

    &__face {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        overflow: hidden;
        border-radius: 16px;
        box-shadow: 0px 3px 18px 3px rgba(0,0,0, 0.2);
    }

    &__face--front {
        background: linear-gradient(to bottom right, $primary, $secondary);
        display: flex;
        align-items: center;
        justify-content: center;
        span{
            pointer-events: none;
        }
    }

    &__face--back {
        background-color: $primary;
        transform: rotateY(180deg);
        display: flex;
        align-items: center;
        justify-content: center;
        span{
            pointer-events: none;
        }
    }
}

@media screen and (max-width: 480px) {
    .card {
        width: 70px;
        height: 70px;
    }
}
